body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.app_container {
  width: 100%;
  margin: 0px auto;
  max-width: 1280px;
}

.w-10 {
  width: 10px;
}

.w-20 {
  width: 20px;
}

.w-50 {
  width: 20px;
}

.h-10 {
  height: 10px;
}
.h-20 {
  height: 20px;
}
.h-30 {
  height: 30px;
}
.h-40 {
  height: 40px;
}

.add-to-cart-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-product-listing {
  width: 75%;
  height: 100vh;
  background-color: aqua;
}

.cart-price-calculator {
  width: 25%;
  height: auto;
  min-height: 500px;
  background-color: bisque;
}

.cart-price-calculator ul {
  padding: 0px;
}
